<% content_for :header do %>
  <%= render "rui/shared/admin/nav", { header_title: "Trip" } do %>
  <%= link_to "Back to trips", trips_path, class: "btn btn-primary" %>
  <% end %>
<% end%>

<p style="color: green"><%= notice %></p>

<div class="pt-4 px-4 sm:px-6 lg:px-8">
  <%= render @trip %>
</div>