<% content_for :title, "Editing vehicle model" %>

<h1>Editing vehicle model</h1>

<%= render "form", vehicle_model: @vehicle_model %>

<br>

<div>
  <%= link_to "Show this vehicle model", @vehicle_model %> |
  <%= link_to "Back to vehicle models", vehicle_models_path %>
</div>
