<% content_for :title, "New fleet provider" %>

<h1>New fleet provider</h1>

<%= render "form", fleet_provider: @fleet_provider %>

<br>

<div>
  <%= link_to "Back to fleet providers", fleet_providers_path %>
</div>
