<% content_for :header do %>
  <%= render "rui/shared/admin/nav", { header_title: "Maintenance" } do %>
  <% end %>
<% end%>

<% content_for :title, "New Maintenance" %>

<h1>New Maintenance</h1>

<%= render "form", maintenance: @maintenance %>

<br>

<div>
  <%= link_to "Back to Maintenance", maintenances_path %>
</div>
