<% content_for :header do %>
  <%= render "rui/shared/admin/nav", { header_title: "Fleet Providers" } do %>
  <%= link_to "Back to vehicles", vehicle_path, class: "btn btn-primary" %>
  <% end %>
<% end%>
<% content_for :title, "Editing vehicle" %>

<div class="pt-4 px-4 sm:px-6 lg:px-8">
  <%= render "form", vehicle: @vehicle %>
</div>