<% content_for :title, "Editing product" %>

<h1>Editing product</h1>

<%= render "form", marketplace_product: @marketplace_product %>

<br>

<div>
  <%= link_to "Show this product", @marketplace_product %> |
  <%= link_to "Back to products", marketplace_products_path %>
</div>
